.card-wrapper{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #F0F0F0;
  height: 50vh;
}

.card-tabs{
  display:flex;
  flex-direction: column;
  background-color: #8eecff;
}

.card-tabs li{
  flex: 1 1 auto;
  list-style-type: none;
  padding: 2vh;
  background-color: #ff7070;
  border-bottom: .1rem solid #8eecff;
  border-top-left-radius: 4rem;
}

.card-tabs a{
  color: black;
}

.card-info{
  flex: 4 1 auto;
}

.card-title{
  padding: 1em;
  text-align: center;
  color: #111111;
  font-size: 2rem;
}

.card-tab a{
  text-decoration: none;
}
