.card-wrapper{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #F0F0F0;
  height: 50vh;
}

.card-tabs{
  flex: 1 1 auto;
  background-color: #34A395;
}

.card-tabs li{
  list-style-type: none;
}

.card-info{
  flex: 4 1 auto;
}

.card-title{
  padding: 1em;
  background-color: #BCCE;
  text-align: center;
  color:blue;
}

.card-tab a{
  text-decoration: none;
}
